<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="$LOCALIZE[128]">
		<setting label="32001" type="file" id="dbfilepath" default=""/>
		<setting label="32035" type="bool" id="setAmvLabelAsTitle" default="true"/>
		<setting type="sep"/>
		<setting label="32047" type="bool" id="doFilepathSubstitution" default="false"/>
		<setting label="32048" type="text" id="filepathSubstitutionReplace" subsetting="true" enable="eq(-1,true)"/>
		<setting label="32049" type="text" id="filepathSubstitutionWith" subsetting="true" enable="eq(-2,true)"/>
		
	</category>
	<category label="32046">
		<setting label="32050" type="bool" id="setPlaycountInPlot" default="true"/>
		<setting label="32036" type="bool" id="setGenreInPlot" default="true"/>
		<setting label="32037" type="bool" id="setArtistInPlot" default="true"/>
		<setting label="32038" type="bool" id="setSongTitleInPlot" default="true"/>
		<setting label="32039" type="bool" id="setSongGenreInPlot" default="true"/>
		<setting label="32040" type="bool" id="setDateInPlot" default="true"/>
		<setting label="32041" type="bool" id="setStudioInPlot" default="true"/>
		<setting label="32042" type="bool" id="setRatingInPlot" default="true"/>
		<setting label="32043" type="bool" id="setAnimesInPlot" default="true"/>
		<setting label="32044" type="bool" id="setContestsInPlot" default="true"/>
	</category>
</settings>